main {
    position: relative;
}

.sureModal h3 {
    margin-bottom: 10px;
    margin-left: 20px;
}

// Modal

.sureModal {
    padding: 60px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
}

.sureModal div {
    display: flex;
}

.modal {
    // Scale
    padding: 60px 40px;
    // Location
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    // Style
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    background-color: white;
    height: 463px;
    overflow-y: auto;
}

.modal textarea, .modal input {
    background-color: #ececec;
    border: none;
    width: 90%;
    resize: none;
    border-radius: 30px;
    padding: 20px 20px;
    margin-bottom: 10px;
    font-family: Montserrat;
}

.modal input {
    margin-right: 10px;
}

.add {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #023872;
    color: #023872;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 34px;
    line-height: 83%;
    cursor: pointer;
    transition: .2s;
    background-color: transparent;
}

.add:hover, .delete:hover {
    transform: scale(1.1);
}

.add:hover {
    background-color: #023872;
    color: white;
}

.delete {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #DA4141;
    color: #DA4141;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s;
    background-color: transparent;
}

.delete p {
    transform: rotate(45deg);
}

.delete:hover {
    background-color: #DA4141;
    color: white;
}

.modal textarea {
    height: 150px;
    width: 100%;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.inputContainer input {
    width: auto;
}

.modalContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
}

.imageContainer {
    // Location
    display: flex;
    flex-direction: column;
}

.addPhoto {
    // Scale
    width: 150px;
    height: 140px;
    // Style
    border-radius: 10px;
    border: none;
    cursor: pointer;
    // Animation
    transition: 0.2s;
    position: relative;
}

.addPhoto:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.buttonContainer {
    // Location
    display: flex;
}

// Navigation bar

.navigationBar {
    // Scale
    height: 40px;
    width: 1000px;
    margin: 0 auto 20px;
    padding: 0 30px;
    // Location
    position: sticky;
    top: 30px;
    z-index: 1;
    display: flex;
    align-items: center;
    // Style
    border-radius: 25px;
    // Animation
    transition: 0.2s;
}

.navigationBar ul {
    // Scale
    width: 100%;
    // Location
    display: flex;
    justify-content: space-between;
    // Style
    list-style: none;
}

.navLink {
    // Style
    text-decoration: none;
    color: black;
    // Animation
    transition: 0.2s;
}

.navLink:hover {
    // Style
    color: #023872;
}

.selected {
    // Style
    color: #023872;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected::before {
    content: "";
    height: 2px;
    width: 34px;
    display: block;
    position: absolute;
    bottom: 5px;
    background-color: #023872;
    border-radius: 1px;
}

// Card

.deleteItem {
    // Scale
    width: 30px;
    height: 30px;
    // Location
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    // Style
    border-radius: 15px;
    border: 1px solid #023872;
    cursor: pointer;
    // Animation
    transition: 0.2s;
}

.deleteItem:hover {
    // Scale
    transform: scale(1.1);
}

.deleteItem p {
    // Location
    transform: rotate(45deg);
    // Style
    color: #023872;
    font-size: 30px;
}

// Items

.itemsContainer {
    // Scale
    width: 100%;
    margin-top: 50px;
    // Location
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
}

.priceContainer {
    // Location
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    // Scale
    width: 250px;
    margin: 0 auto;
}

.itemPreview {
    // Scale
    width: 100%;
    height: 0;
    padding-top: 100%;
    // Location
    position: relative;
    // Style
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
}

.itemPreview img {
    // Scale
    width: 100%;
    height: 100%;
    // Location
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

// Button

.addNewItem {
    // Style
    width: 250px;
    height: 250px;
    // Location
    display: flex;
    justify-content: center;
    align-items: center;
    // Style
    background-color: #f4f4f4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.addNewItemInner {
    // Scale
    height: 150px;
    width: 150px;
    // Location
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // Style
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-image: url("./../../images/icons/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    // Animation
    transition: 0.2s;
}

.addNewItemInner:hover {
    // Location
    transform: scale(1.1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
}

.button_char_delete{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 34px;
    line-height: 83%;
}

.inputPhoto{
    display: none;
}

.labelPhoto{
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
